*{
                
}
.tieude{
    margin-top: -35px;
    position: absolute;
    margin-left: 16.5%;
    font-size: 20px;
}
.post{
    padding: 0px;
    margin: 0px;
    margin-top: -44px;
    margin-right: 18.3%;
    float: right;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color : white;
}
.a{
    background-color: black;
    text-align: center;
    height: 30px;
    font-size: 20px;
    border:1px solid gray;
    color: white;
}
.s{
    background-color: black;
    border:2px solid gray;
    margin: 0px;

}

.dangbai1{
    display: inline-block;
}
.dangbai2{
    padding-top: 10px;
    margin-left:14%;
    margin-right: 16%;
}
.ss{
    margin-left:14%;
    margin-right:10%;
    margin-top:50px
}
.quantri1{
    
    margin-left:7%;
    margin-top:30px;
}
.quantri2{
    background: linear-gradient(to right, #f3ff48, #ff9191,#f3ff48);
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    text-align: center; 
    background-color: rgb(194, 101, 194);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
}
.quantri3{
    background: linear-gradient(to right, #bda5ff, #ff9eef);
    font-size: 15px;
    display: inline-block;
    text-align: center; 
    background-color: rgb(112, 167, 240);
    height: 60px;
    font-size:20px;
    border-bottom: 2px solid white;
    border-radius: 5px 5px 5px 5px;
}
.quantri4{
    margin-left:7%;
}
.box{
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #9ef0ff, #f7b1f7,#b1f6ff);
    margin-left: 40px;
    margin-bottom: 35px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    font-size: 25px;
    color: black
}
.box:hover{
    transition: 0.4s;
    width: 190px;
    height: 190px;
    margin-left: 20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 35px;
}